<p id="notice"><%= notice %></p>


<div class='row'>
  <div class='col-sm-9'><h2> All Feeds </h2></div>
  <div class='col-sm-3'>
    <div class='pull-right'>
      <h2><%= link_to 'New Feed', new_feed_path, :class => 'btn btn-primary' %></h2>
    </div>
  </div>
</div>

<table class= "table table-bordered">
  <thead>
    <tr>
      <th>URL</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td> <%=feed.url%> </td>
        <td>
          <%= link_to 'Show', feed, :class => 'btn btn-primary' %>
          <%= link_to 'Edit', edit_feed_path(feed), :class => 'btn btn-warning' %>
          <%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
